DJANGO_SECRET_KEY=change-this-local-secret
DEBUG=True

# Oracle Database
ORACLE_USER=nomaya
ORACLE_PASSWORD=CHANGE_ME
ORACLE_HOST=127.0.0.1
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=XEPDB1

CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
